<!DOCTYPE html>
<html>
<head>
    <title><%=language.order.evaluatedTitle[local]%></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/style1.css' />
    <link rel="stylesheet" href="/stylesheets/stylePerson.css"/>
    <link rel="stylesheet" href="/stylesheets/styleOrder.css" />
    <link rel="stylesheet" href="/stylesheets/cart.css"/>
</head>
<body>
<div id="contain">
<%include ../header.ejs%>
<div class="evaluate1">
        <ul class="ulPerson">
            <li class="orderNav1">
                <div style="margin-bottom: 10px;width:100%;">
                  <div style="margin-bottom: 10px;height: 45px;width: 100%;">
                    <img src="/images/person.jpg" class="person_pic"/><span class="tdPerson"><%= current_user %></span>
                  </div>
                </div>
            </li>

            <li class="orderNav11">
                <a  href="/orders" class="liPerson1"><%=language.order.allOrders[local]%><div class="enterOrder">></div></a>
            </li>
          <li class="orderNav11">
            <a class="liPerson1" href="/payment"><%=language.order.pendingPayment[local]%> <div class="enterOrder">></div></a>
          </li>
          <li class="orderNav11">
                <a class="liPerson1 " href="/receiving"><%=language.order.uponReceipt[local]%> <div class="enterOrder">></div></a>
            </li>
            <li class="orderNav111">
                <a  class="liPerson11" href="/evaluation"><%=language.order.toBeEvaluated[local]%><div class="enterOrder">></div></a>
             </li>
          <li class="orderNav11">
            <a class="liPerson1" href="/returns">
              <%= language.order.returnGoods[local] %>
              <div class="enterOrder">></div>
            </a>
          </li>
          <li class="orderNav11">
            <a  class="liPerson1" href="/user"><%= language.order.personalCenter[local] %><div class="enterOrder">></div></a>
          </li>
        </ul>
     <div class="dingdan">
        <% orders.forEach(function(order){ %>
         <div class="order1" id="<%= order._id %>">
             <div class="personMassege2">
                 <div>
                   <a class="pingjia" href="/returns/<%= order._id %>"><%=language.order.return[local]%></a>
                   <a class="pingjia" href="/evaluation/<%= order._id %>"><%=language.order.evaluate[local]%></a>
              </div>
              <div class="personMassege1"><%=language.order.totalPrice[local]%>:￥<%= order.pay %> (<%=language.other.freight[local]%>: ￥<%= order.freight || 0 %>)</div>
            </div>
             <div class="list1">
                <% order.products.forEach(function(pd){ %>
                 <div class="wap">
                     <a href="/product/<%= pd.productId %>"  class="gap"><img src="<%= pd.coverUrl %>" width="104px" height="104px"  /></a>
                     <div class="sap">
                         <div class="price">
                           &nbsp;<%= pd.name[local] %></br>￥<%= pd.price %></br>&nbsp;x<%= pd.quantity %>
                         </div>
                     </div>
                     <div class="clear"></div>
                 </div>
                 <% }) %>
             </div>
        <div class="solid1" >
          <div class="dealMessage ">
            <span class="arrow" id="arrow1"></span><div class="floatRight"><%=language.order.detail[local]%></div>
          </div>
            <div class="makeDeal">
              <% if(order.state == 3 || order.state == 4){ %>
              <%=language.other.yuTrading[local]%> <%= format_datetime(order.receivedTime, false) %> <%=language.other.tradingSuccess[local]%>
              <% } else if (order.state == 2){ %>
              <%=language.other.yuShip[local]%> <%= format_datetime(order.deliveryTime, false) %> <%=language.other.ship[local]%>
              <% } else if (order.state == 1){ %>
              <%=language.other.yuPayment[local]%> <%= format_datetime(order.paymentTime, false) %> <%=language.other.payment[local]%>
              <% } %>
            </div>
          <div class="clear"></div>
          </div>
        <script>
              $("#<%= order._id %> .dealMessage").click(function(){
                  if($("#<%= order._id %> #solid2").attr("class")=="disabled_none"){
                      $("#<%= order._id %> #solid2").removeClass("disabled_none")
                      $("#<%= order._id %> #arrow").css("background","url('../images/arrow1.png')");
                  }else{
                      $("#<%= order._id %> #solid2").addClass("disabled_none")
                      $("#<%= order._id %> #arrow").css("background","url('../images/arrow2.png')");
                  }
              })
        </script>
        <div id="solid2" class="disabled_none" >
            <div class="solid2">
            <div>
                <div class="zhankai">
                    <%=language.order.orderDetails[local]%>
                </div>
                <div  class="xiangqing">
                    <%=language.order.ordersAccount[local]%>：<%= order._id %>
                </div>
                <div class="xiangqing">
                    <%=language.order.singleTime[local]%>：<%= format_datetime(order.happenedAt, false) %>
                </div>
                <div class="xiangqing">
                    <%=language.order.ordeStatus[local]%>：<%= format_orderstate(order.state) %>
                </div>
            </div>
            <div>
                <div class="zhankai1">
                    <%=language.order.paymentInformation[local]%>
                </div>
                <div class="xiangqing ">
                    <%=language.order.payment[local]%>：<%= order.payment %>
                </div>
                <div class="xiangqing">
                    <%=language.order.paidTime[local]%>：<%= format_datetime(order.paymentTime, false) %>
                </div>
            </div>
            <% if(order.address){ %>
              <div>
                <div class="zhankai1">
                  <%=language.order.deliveryInformation[local]%>
                </div>
                <div class="xiangqing">
                  <%=language.myOrder.receiver[local]%>：<%= order.address.receiver %>
                </div>
                <div class="xiangqing">
                  <%=language.myOrder.tel[local]%>：<%= order.address.tel %>
                </div>
                <div class="xiangqing">
                  <%=language.order.deliveryAddress[local]%>：<%= order.address.street %>
                </div>
                <div class="xiangqing">
                  <%=language.order.sentTime[local]%>：<%= format_datetime(order.deliveryTime, false) %>
                </div>
                <div class="xiangqing">
                  <%=language.order.pickupTime[local]%>：<%= format_datetime(order.receivedTime, false) %>
                </div>
              </div>
            <% } %>
        </div>
        </div>
    </div>
    <% }) %>
    <div class="clear"> </div>
</div>
    <div class="clear"></div>
</div>
</div>
<%include ../footer.ejs%>
</body>
</html>
